/* Footer Styles */
.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.64); /* Using rgba for more control over transparency */
  color: #ffffff; /* Ensure high contrast for accessibility */
  width: 98.5%;
  position:fixed;
  bottom: 0;
  left: 0;
  right:0;
  /* z-index: 1000; Ensure it stays above other elements */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Add shadow for better separation */
}

/* Ensure footer content does not overflow on smaller screens */
.footer p {
  margin: 0;
  word-wrap: break-word;
}
