@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: ; */
  background-color: #1b2b38;
  font-family: 'Montserrat', sans-serif;
  /* overflow: hidden; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}